<iframe width="900" height="650" src="http://www.youtube.com/embed/NJjpF25Ia0Y" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<button id="aha" style="height: 50px; width: 350px; font-weight: bold; font-size: 18px; margin-left: 25px;">AHA! (+)</button>
<button id="huh" style="height: 50px; width: 350px; font-weight: bold; font-size: 18px; margin-left: 20px;">HUH? (-)</button>
<br>
<br>
<input type="text" id="name" value="Name please..." style="height: 20px; width: 145px; margin-left: 25px;" /> 
<button id="start" style="height: 20px; width: 150px; margin-left:20px">Start</button>

<br/>
<br/>

